.paragraph,
.description {
  margin-bottom: 16px;
  font-size: clamp(calc(16rem/16), calc(22vw/7.68), calc(22rem/16));
}

.title,
.paragraph p:first-child {
  font-size: clamp(calc(20rem/16), calc(32vw/7.68), calc(30rem/16));
}

.title {
  margin-bottom: clamp(8px, calc(16vw/7.68), 16px);
}
.section {
  header {
    max-width: calc(688rem/16);
    text-align: center;

    &,
    h2 {
      margin: 0 auto;
      margin-bottom: clamp(28px, calc(32vw/7.68), 48px);
    }

    .paragraph {
      p:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .summary {
    font-size: clamp(calc(20rem/16), calc(32vw/7.68), calc(30rem/16));
  }

  .list {
    position: relative;
    margin-top: 128px;
    text-align: center;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item {
      max-width: calc(626rem/16);
      margin: 0 auto;
    }

    .showcase {
      position: fixed;
      top: 50%;
      left: 100%;
      transform: translate(0%, -50%);
      display: flex;
      width: 100vw;
      min-width: 3000px;
      justify-content: space-between;
      align-items: center;
      mix-blend-mode: difference;
    }
  }

  .summary {
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}