.CtaSectionPill {
  display: grid;
  .img {
    height: auto;
    width: 100%;
    object-fit: contain;
    border: 1px solid var(--neutral-700);
    border-radius: 1000px;
  }
  .copy {
    position: relative;
    gap: 24px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    h2 {
      max-width: calc(420rem / 16);
      font-size: clamp(calc(22rem / 16), calc(26vw / 7.68), calc(26rem / 16));
    }
    border: 1px solid var(--neutral-700);
    padding: clamp(32px, calc(32vw / 7.68), 48px) clamp(16px, calc(32vw / 7.68), 64px);
    background-color: var(--neutral-900);
    width: fit-content;
    max-width: calc(868rem/16);
    margin: 0 auto;
    .glow {
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -25%);
        border-radius: 50%;
        width: clamp(192px, calc(256vw / 7.68), 358px);
        height: clamp(192px, calc(256vw / 7.68), 358px);
        background: linear-gradient(266deg, #0b0f0d, #011310 53.44%, #001f1b);
        mix-blend-mode: plus-lighter;
        filter: blur(64px);
      }
    }
    .iconWrapper {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      width: clamp(48px, calc(56vw / 7.68), 64px);
      height: clamp(48px, calc(56vw / 7.68), 64px);
      border: 1px solid var(--neutral-700);
      border-radius: 50%;
      background-color: var(--neutral-900);
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        height: 55%;
        width: 55%;
        object-fit: contain;
      }
    }
  }
  @media (min-width: 1100px) {
    grid-template-rows: 1fr;
    grid-template-areas: 'row';
    padding-bottom: 48px;
    .img {
      grid-area: row;
    }
    .copy {
      grid-area: row;
      align-self: flex-end;
      margin-bottom: -48px;
    }
  }
  @media (max-width: 1099px) {
    .copy {
      margin-top: -28px;
      width: 100%;
    }
  }
  @media (max-width: 599px) {
    .copy {
      border-radius: 4px;
      margin-top: -8px;
    }
  }
}
