.section {
  header {
    text-align: center;
    display: grid;
    justify-items: center;
    min-height: 70vh;

    h1 {
      margin: 0 auto 48px;
      max-width: calc(700rem/16);
    }

    .paragraph {
      align-self: end;
      font-size: clamp(calc(20rem/16), calc(30vw/7.68), calc(32rem/16));

      p:nth-of-type(1) {
        font-size: clamp(calc(32rem/16), calc(56vw/7.68), calc(56rem/16));
        margin: 12px 0;
      }

      p:nth-of-type(2) {
        margin-bottom: 48px;
      }
    }
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: clamp(48px, calc(72vw/7.68), 86px);

    .title {
      font-size: clamp(calc(20rem/16), calc(30vw/7.68), calc(32rem/16));
      margin-bottom: clamp(16px, calc(32vw/7.68), 32px);
    }

    .description {
      font-size: clamp(calc(16rem/16), calc(22vw/7.68), calc(22rem/16));

      p:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  @media (max-width: 859px) {
    header {
      h1 {
        text-align: left;
        margin: 0 0 48px;
      }
    }

    .column {
      grid-template-columns: 1fr;
      gap: 40px;
    }

  }
}