.section {
  header {
    display: grid;
    gap: 0 32px;
    grid-template-columns: 1fr 1fr;
    .copy {
      margin-bottom: clamp(28px, calc(40vw/7.68), 72px);
      max-width: calc(740/16)*1rem;
      .paragraph {
        margin-top: clamp(28px, calc(32vw/7.68), 32px);
        font-size: clamp(calc(20rem/16), calc(32vw/7.68), calc(30rem/16));
        p:not(:last-of-type){
          margin-bottom: 1rem;
        }
      }
      .cta {
        margin-top: clamp(24px, calc(48vw/7.68), 48px);
      }
    }
    .spanWrapper {
      padding-top: 48px;
      font-weight: 400;
      font-size: clamp(calc(18rem/16), calc(28vw/7.68), calc(30rem/16));
      flex-direction: row-reverse;
      display: inline-flex;
      align-self: stretch;
    }
    @media(min-width: 1300px) {
      .span {
        text-align: end;
        width: 450px;
      }
    }
  }
  img {
    width: 100%;
    height: auto;
  }

  @media(max-width: 1409px) {
    header {
      grid-template-columns: 1fr;
      .sideImg {
        width:100%;
        justify-self: center;
        height:auto;
        max-width: unset;
      }
      .spanWrapper {
        width: fit-content;
        margin-top: -54px;
        .span {
          text-align: start;
          width:unset;
        }
      }
    }
  }
}
.blogSection {
  header {
    >div:first-child {
      max-width:calc(684rem/16);
    }
    >img {
      border: unset;
      height: auto;
      width: unset;
      max-width: 600px;
      max-height: 600px;
      margin: 0 auto;
      justify-self: unset;
      object-fit: contain;
      display:inline-block;
    }
  }
  @media (max-width: 1409px) {
    header {
      grid-template-columns: 1fr;
      >div:first-child {
        max-width: unset;
      }
      >img {
        width: 100%;
      }
    } 
  }
}