.section {
  overflow: hidden;
  padding: 0 var(--pageMargin);
  margin: 0 calc(var(--pageMargin) * -1);
  .stylescapes {
    img {
      margin-bottom: clamp(48px, calc(64vw/7.68), 82px);
      width: 200%;
      will-change: transform;
      &:nth-child(odd){
        transform: rotate(-2deg);
        transform-origin: left center;
      }
      &:nth-child(even){
        transform: rotate(2deg);
        margin-left: -100%;
        transform-origin: right center;
      }
    }
  }
}