.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: clamp(16px, calc(24vw/7.68), 33px);
  align-items: center;

  .callToAction {
    display: grid;
    gap: 48px;
    justify-content: flex-start;

    .heading {
      margin: unset;
    }
  }

  h2 {
    font-size: clamp(calc(22rem/16), calc(26vw/7.68), calc(26rem/16));
  }

  .cta {
    display: flex;
    width: fit-content;
    margin-left: 16px;
    align-self: start;
  }
}

.smallEntry {
  grid-template-columns: 1fr 1fr;
  align-items: unset;

  .callToAction {
    grid-column: 1/-1;
    grid-template-columns: 1.6fr 1fr;
    row-gap: 12px;
    margin-bottom: 24px;

    .heading {
      justify-self: start;
    }

    .cta {
      justify-self: flex-end;
      align-self: center;
    }
  }
}

@media (max-width: 1299px) {
  .section {
    grid-template-columns: 1fr 1fr;
    align-items: unset;

    .callToAction {
      grid-column: 1/-1;
      grid-template-columns: 1.6fr 1fr;
      row-gap: 12px;
      margin-bottom: 24px;

      .cta {
        justify-self: flex-end;
        align-self: center;
      }
    }
  }
}

@media (max-width: 799px) {
  .section {
    grid-template-columns: 1fr;

    .callToAction {
      grid-template-columns: 1fr;
      justify-self: center;
      text-align: center;
      margin-bottom: 6px;

      .cta {
        justify-self: center;
      }
    }

  }
}
