.LatestBlogEntries {
  display: grid;
  @media (min-width: 1000px){
    grid-template-columns: 1fr 2fr;
  }
  align-items: center;
  gap: 48px 32px;
  header {
    display: grid;
    gap: 24px 48px;
    align-items: flex-end;
    @media (max-width: 999px) and (min-width: 800px){
      grid-template-columns: auto auto;
    }
    h2 {
      font-size: clamp(calc(22rem/16), calc(26vw/7.68), calc(26rem/16));
      width: fit-content;
    }
    .cta {
      width: fit-content;
      margin-left: 28px;
    }
    @media (max-width: 799px) and (min-width: 550px) {
      h2, .cta {
        margin: 0 auto;
      }
    }
  }
  .wrapper {
    display: grid;
    gap: clamp(16px, calc(24vw/7.68), 32px);
    @media (min-width: 700px){
      grid-template-columns: 1fr 1fr;
    }
  }
}