.entry {
  &:not(:last-child) {
    margin-bottom: clamp(24px, calc(32vw/7.68), 32px);
  }

  column-gap: 32px;
  position: relative;
  display: grid;
  grid-template-columns: 127px 1fr;
  align-items: flex-start;
  gap: 12px;
  max-width: 408px;

  .img {
    width: 127px;
    height: 127px;
    object-fit:cover;
    display:block;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
  }

  .link {
    position: absolute;
    inset: 0;
  }

  a {
    position: relative;
    z-index: 1;
  }

  .title {
    font-size: 1rem;
    margin-top: 16px;
  }

  .subtitle {
    margin-top: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(calc(16rem/16), calc(22vw/7.68), calc(22rem/16));
  }

  .author {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-size: clamp(calc(16rem/16), calc(20vw/7.68), calc(20rem/16));
    }
    .authorImg {
      height:34px;
      width:34px;
      object-fit: cover;
      display:block;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    a {
      padding: 4px 16px;
      background-color: var(--neutral-900);
    }
  }

  .estimatedTime {
    justify-self: flex-end;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .createdAt {
    justify-self: flex-end;
  }

  @media (max-width: 849px) {
    column-gap: 16px;
    padding: clamp(16px, calc(24vw/7.68), 32px) 0;

    .subtitle {
      margin-top: 20px;
      display: block;
    }

    .categories {
      margin: 24px 0;
    }

    .estimatedTime {
      font-size: 14px;
    }
  }
}