.readingTime {
  grid-area: e;
  justify-self: flex-end;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(calc(16/16)*1rem, calc(22/7.68)*1vw, calc(20/16)*1rem);
}