.wrapper {
  .consultation {
    margin-top: 112px;
  }
  .imageWrapper {
    width:calc(100% + 53px);
    margin-top:-112px;
    .image {
      max-width:1000px;
      bottom: 0;
      right:0;
    }
  }
  .questioning {
    padding-bottom: calc(24px + 23px);
  }
  .multipleUxEplanations {
    padding-top: 91px;
  }
  @media(max-width:1200px) {
    .multipleUxEplanations {
      padding-top: clamp(96px, calc(128vw/7.68), 128px);
    }
    .imageWrapper {
      width:auto;
      .image {
        max-width:unset;
       }
    }
  }
  @media(min-width: 700px) {
    .question {
      text-align: end;
    }
  }
}