
.section {
  h2 {
    margin-bottom: clamp(28px, calc(64vw/7.68), 64px);
  }
  .active::before {
    transform: translateY(100%);
  }
  .copy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    @media (max-width: 949px){
      grid-template-columns: 1fr;
      gap: 16px;
    }
    margin-bottom: clamp(28px, calc(64vw/7.68), 64px);
  }
  .wrapper {
    counter-reset: counter;
  }
}