.wrapper {
  .imageWrapper{
    height:auto;
    width:100%;
    .image {
      height:auto;
      width:100%;
      object-fit: cover;
      display:block;
    }
  }
}
.border {
  border: 1px solid var(--neutral-700, #5B5F67);
  border-radius: 0.822px;
}