.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "heading slides" ". additions";
  gap: 32px;

  h2 {
    align-self: center;
    max-width: 500px;
    font-size: clamp(calc(20rem/16), calc(28vw/7.68), calc(28rem/16));
    grid-area: heading;
  }

  .active {
    transition: transform 0.5s var(--easing);
  }

  .slide:not(.active) {
    transform: scale(.95);
    transition: transform 0.5s var(--easing);
  }

  .slider {
    position: relative;
    grid-area: slides;
    padding-right: 80px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 250px;
      height: 100%;
      pointer-events: none;
      z-index: 3;
      background: linear-gradient(90deg, var(--neutral-950), rgba(4, 6, 6, 0));
    }

    &::before {
      right: -40px;
      transform: rotate(180deg);
    }

    &::after {
      right: 0;
      transform: rotate(180deg);
    }

    min-width: 0;
    width: calc(100% + var(--pageMargin));

    .slide {
      border: 1px solid var(--neutral-700);
      font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));

      >div {
        padding: 16px clamp(12px, calc(24vw/7.68), 24px);
        align-items: center;
        border-bottom: 1px solid var(--neutral-700);
      }

      >p {
        padding: clamp(16px, calc(32vw/7.68), 32px) clamp(12px, calc(24vw/7.68), 24px) clamp(16px, calc(48vw/7.68), 48px);
      }

      &:hover {
        cursor: pointer;
      }
    }

  }

  .additions {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-area: additions;
    gap: clamp(32px, calc(79vw/7.68), 79px);

    .indicator {
      overflow-x: visible;
      white-space: nowrap;
      height: 2px;
      width: 100%;
      position: relative;
      background-color: var(--neutral-800);
      align-self: center;

      .bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: calc(var(--currentIndex) / var(--slidesCount) * 100%);
        background: linear-gradient(266deg, #2DD282, #90F4E8 100%);
        transition: width 0.5s ease-out;
      }
    }

    .controls {
      margin-left: auto;
      display: grid;
      grid-template-columns: 48px 48px;
      gap: 16px;
      margin-top: -8px;

      button {
        width: 48px;
        height: 48px;
        border: 1px solid var(--neutral-700);
        border-radius: 50%;
        transition: background-color .4s, opacity .4s;

        &[disabled] {
          opacity: .4;
          pointer-events: none;
        }

        &:hover {
          background-color: var(--neutral-900);
        }

        &:active {
          svg {
            transform: scale(.95);
          }
        }

        svg {
          transition: transform .4s var(--easing);
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 34px;
        height: auto;
        pointer-events: none;
        z-index: 2;
        background: linear-gradient(90deg, var(--neutral-950), rgba(0, 0, 0, 0));
      }
    }
  }

  @media (max-width: 1049px) {
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "slides" "additions";

    .heading {
      margin-bottom: 32px;
    }

    .controls {
      grid-column: unset;
    }
  }

  @media (max-width: 699px) {
    .slider {
      padding-right: unset;
      width: 100%;

      &:before {
        width: 150px;
      }
    }
  }
}