.roadmapWrapper {
  margin: clamp(-172px, calc(-144vw/7.68), -96px) 0;

  .sticky {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .line {
      height: 1px;
      background-color: var(--neutral-800);
      margin: 0 calc(var(--pageMargin) * -1);
    }
  }

  h2 {
    margin-bottom: clamp(28px, calc(64vw/7.68), 42px);
    max-width: calc(734rem / 16);
  }

  .roadmap {
    width: 100vw;
    max-width: calc(1680px + (var(--pageMargin) * 2));
    pointer-events: none;

    ::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    column-gap: 32px;
    overflow-x: hidden;
    margin: 0 calc(var(--pageMargin) * -1);
    padding: 0 var(--pageMargin);
    counter-reset: counter;
    margin-top: -12px;
    padding-bottom: 1rem;

    .roadmapItem {
      flex-shrink: 0;
      width: calc(100% / 2.1);
      position: relative;
      padding-top: clamp(40px, calc(40vw/7.68), 48px);
      padding-right: 1rem;
      counter-increment: counter;

      &:not(:last-child) {

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }

        &::before {
          background: linear-gradient(var(--neutral-950), var(--neutral-950)) padding-box,
            var(--gradient) border-box;
          border: 1px solid transparent;
        }

        &::after {
          background: var(--gradient);
          transform: scale(0);
          transition: transform 0.3s var(--easing);
        }

        &.active::after {
          transform: scale(1);
        }
      }

      &:last-child {
        width: calc(100% - (100% / 2.1) - 32px);
      }

      .title {
        h3 {
          font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
        }

        margin-bottom: clamp(8px, calc(16vw/7.68), 16px);
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: clamp(8px, calc(16vw/7.68), 16px);
        align-items: baseline;

        &::before {
          content: "/" counter(counter);
          display: inline-block;
          font-size: 1rem;
          margin-top: 0.2em;
        }

      }

      &:nth-child(-n + 9) .title::before {
        content: "/0" counter(counter);
      }

      .description {
        padding-left: clamp(48px, calc(56vw/7.68), 56px);
        font-size: clamp(calc(14rem/16), calc(16vw/7.68), calc(16rem/16)); 
      }

      .cta {
        margin-top: 2rem;
        margin-left: clamp(48px, calc(56vw/7.68), 56px);
      }
      a {
        pointer-events: auto;
      }
      p a,
      h3 a {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 1099px) {
    .roadmap {
      .roadmapItem {
        width: calc(100% / 1.1);

        &:last-child {
          width: calc(100% - (100% / 1.1) - 32px);
        }
      }
    }
  }

  @media (max-width: 499px) {
    .roadmap {
      .roadmapItem {
        padding-right: 0;
        width: 100%;

        &:last-child {
          display: none;
        }

        .cta {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}