.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;

  .subheading {
    font-size: clamp(calc(20rem/16), calc(32vw/7.68), calc(40rem/16));
    margin-bottom: 24px;
  }

  .paragraph {
    font-size: clamp(calc(16rem/16), calc(22vw/7.68), calc(22rem/16));

    p:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  h2,
  h3 {
    margin-bottom: 24px;
  }

  @media (max-width: 1049px) {
    grid-template-columns: 1fr;

    .form {
      max-width: calc(500rem/16);
    }
  }
}