.newContact {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  column-gap: 142px;
  align-items: flex-start;
  border-top: 1px solid var(--neutral-700-new);
  border-bottom: 1px solid var(--neutral-700-new);
  padding: 84px 110px 80px 110px;
  justify-content: flex-start;
  grid-template-areas: "heading form" "info form";

  form {
    grid-area: form;
  }

  .contentWrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    grid-area: heading;
  }

  h3 {
    font-size: clamp(calc(22rem/16), calc(26vw/7.68), calc(28rem/16));
  }

  .subheading {
    font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
    border-bottom: 1px solid var(--neutral-700-new);
    padding-bottom: 24px;
  }

  .info {
    grid-area: info;
    z-index: 5;
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    column-gap: 8px;
    font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));

    .person {
      display: flex;
      column-gap: 8px;
      align-items: center;
      justify-items: flex-start;

      .img {
        width: 64px;
        height: 64px;
        object-fit: cover;
      }

      .copy {
        padding: 8px 12px;
        border-radius: 10000000000px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .overlay {
    align-items: flex-start !important;
  }

  form {
    .legend {
      background: var(--neutral-900) !important;
    }
  }

  @media (max-width: 1329px) {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-left: unset;
    padding-right: unset;

    .info {
      grid-column: unset;
      grid-template-columns: auto;
      justify-content: flex-start;
      gap: 4px 0;

    }

    .subheading {
      border: unset;
    }

    form {
      max-width: 450px;

      label {
        width: 90%;
      }
    }
  }

  @media (max-width: 699px) {

    form {
      max-width: unset;

      label {
        width: 100%;
      }
    }

    .info {
      .person {
        .img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}