.wrapper {
  display: grid;
  gap: 48px;
  padding-top:40px;

  .headingImageText {
    border-bottom: 1px solid var(--neutral-700, #5B5F67);
    grid-column-gap: 32px;
  }

  .headingImageText:last-of-type {
    padding-bottom: 20px;
    gap: 32px;
  }

  .headingWrapper:first-of-type {
    margin-bottom: 24px;
  }

  @media(min-width: 1200px) {
    .headingImageText:first-of-type {
      border-bottom: unset;
    }
  }

  @media(max-width:1200px) {
    padding-top: unset;
    .imageWrapper {
      padding: 16px 41.5px 24px 41.5px;
    }

    .headingImageText:last-of-type {
      .headingWrapper {
        margin-bottom: 2px;
      }

      .imageWrapper {
        padding: 0px 28.5px 0px 28.5px;
      }
    }

    .headingWrapper:first-of-type {
      margin-bottom: unset;
    }
  }

}