.mainWrapper {
  --nav-height: 94px;

  .skipToMainContent {
    background-color: var(--neutral-950);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    padding: 8px 13px;
    top: var(--nav-height);

    &:focus-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  background-color: var(--neutral-950);
  position: relative;
  z-index: 999;
  border-bottom: 1px solid var(--neutral-800);

  &.fixed {
    position: sticky;
    top: 0%;
    animation: navDown .5s forwards;
  }

  @keyframes navDown {
    0% {
      transform: translateY(-100%)
    }

    100% {
      transform: translateY(0)
    }
  }

  >.maxWidth {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navCta,
  .navCtaMobile a {
    font-size: clamp(calc(16rem/16), calc(11vw/7.68), calc(20rem/16));

    &[aria-current="page"] {
      svg {
        transform: rotate(180deg);
      }

      &:not(:hover) {
        filter: grayscale(100%);
      }
    }
  }

  .navCtaMobile {
    display: none;
  }

  .navList {
    ul {
      list-style-type: none;
    }

    &>ul {
      display: flex;
      gap: 48px;
    }

    .navListItem {
      >button {
        font-size: clamp(calc(16rem/16), calc(11vw/7.68), calc(20rem/16));

        span {
          transition: opacity .3s;
        }

        &:hover {
          span {
            opacity: .7;
          }
        }

        padding: 13px 0;
        display: inline-flex;
        align-items: center;
        column-gap: 4px;
        cursor: pointer;

        svg {
          stroke: var(--neutral-200);
          transition: transform .3s;
        }
      }

      &.services .navList2 {
        a {
          transition: opacity .3s;

          &:hover {
            opacity: .7;
          }
        }

        .maxWidth {
          display: grid;
          grid-template: "one two three" "one two four" "one two five";
          grid-template-columns: repeat(3, 1fr);
          column-gap: 32px;
        }

        .navList3 {
          li:not(:last-child) {
            margin-bottom: 16px;
          }
        }

        li {
          >a {
            display: inline-block;
            font-size: clamp(calc(16rem/16), calc(20vw/7.68), calc(20rem/16));
          }

          &:nth-of-type(1) {
            grid-area: one;
          }
          &:nth-of-type(2) {
            grid-area: two;
          }
          &:nth-of-type(3) {
            grid-area: three;
          }
          &:nth-of-type(4) {
            grid-area: four;
          }
          &:nth-of-type(5) {
            grid-area: five;
          }
        }
      }

      &.caseStudies .navList2 {
        .wrapper {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 32px;

          a {
            .imgWrapper {
              overflow: hidden;

              .img {
                height: auto;
                display: block;
                width: 100%;
                object-fit: cover;
                transition: transform .5s var(--easing);
              }
            }

            &:hover {
              .img {
                transform: scale(1.05);
              }

              p {
                opacity: .7;
              }
            }

            text-align: center;
            font-size: calc(22/16) *1rem;

            p {
              transition: opacity .3s;
              margin-top: 24px;
            }
          }
        }
      }

      &.team .navList2 {
        .wrapper {
          margin: 0 auto;
          max-width: calc(6 * (96px + 48px));
          text-align: center;
          display: flex;
          gap: 24px 48px;
          flex-wrap: wrap;
          justify-content: center;

          p {
            font-size: clamp(calc(16rem/16), calc(22vw/7.68), calc(22rem/16));
            margin-top: 8px;
            transition: opacity .3s;
          }
        }
      }

      &.blog .navList2 {
        .maxWidth {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: flex-start;
          gap: 32px;
        }

        .entries {
          >h3 a {
            transition: opacity .3s;

            &:hover {
              opacity: .7;
            }
          }

          .entry {
            &:not(:last-child) {
              margin-bottom: 20px;
            }

            position: relative;

            .link {
              position: absolute;
              inset: 0;
              z-index: 1;

              &:hover {
                ~.imgWrapper {
                  .img {
                    transform: scale(1.05);
                  }
                }

                ~.copy h3 {
                  opacity: .7;
                }
              }
            }

            display: grid;
            grid-template-columns: 128px 1fr;
            align-items: start;
            gap: clamp(calc(12rem/16), calc(22vw/7.68), calc(22rem/16));

            .imgWrapper {
              overflow: hidden;
              border: 1px solid var(--neutral-800);
              display: inline-block;
            }

            .img {
              display: block;
              transition: transform .3s;
              height: auto;
              width: 100%;
              object-fit: cover;
            }

            .copy {
              overflow: hidden;
              text-overflow: ellipsis;

              .copyTop {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                  display: grid;
                  grid-template-columns: auto auto;
                  align-items: center;
                  gap: 4px;
                  z-index: 2;

                  .personBorder {
                    overflow: hidden;
                    .img {
                      width: 32px;
                      height: 32px;
                    }

                    &:hover {
                      ~.img {
                        transform: scale(1.05);
                      }
                    }
                  }

                  @media (max-width: 1329px) {
                    &+span {
                      display: none;
                    }
                  }
                }
              }

              p {
                margin-top: 1rem;
                font-size: 1rem;
                transition: opacity .3s;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }

        .categories {
          .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;

            a {
              background-color: var(--neutral-900);
              padding: 4px 16px;
              border-radius: 2px;
            }
          }
        }

        .authors {
          .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px 32px;

            a {
              display: flex;
              align-items: center;
              gap: 8px;
              .img {
                height:auto;
                width: 100%;
              }

              &:hover {
                .img {
                  transform: scale(1.05);
                  object-fit: cover;
                }
              }
            }

            .imageWrapper {
              overflow: hidden;
              width: 96px;
              height: 96px;

              .personBorder {
                display: block;
                transition: transform .3s;
                .img {
                  height:auto;
                  width:100%;
                }
              }
            }

            p {
              font-size: clamp(calc(16rem/16), calc(20vw/7.68), calc(20rem/16));
            }
          }
        }
      }

      &.academy .navList2 {
        .maxWidth {
          display: grid;
          align-items: flex-start;
          grid-template-columns: repeat(3, 1fr);
          gap: 32px;
        }

        .curiosities {
          >h3 a {
            transition: opacity .3s;

            &:hover {
              opacity: .7;
            }
          }

          .link {
            &:not(:last-child) {
              margin-bottom: 24px;
            }

            display: grid;
            grid-template-columns: 188px 1fr;
            align-items: start;
            gap: 8px 12px;

            p {
              font-size: 1rem;
            }

            &:hover {
              .imgWrapper {
                .img {
                  transform: scale(1.05);
                }
              }

              p {
                opacity: .7;
              }
            }
          }

          p {
            transition: opacity .3s;
          }

          .imgWrapper {
            overflow: hidden;
            border: 1px solid var(--neutral-800);
            display: inline-block;
          }

          .img {
            display: block;
            transition: transform .3s;
            height: auto;
            width: 100%;
            object-fit: cover;
          }
        }

        .categories {
          .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;

            a {
              background-color: var(--neutral-900);
              padding: 4px 16px;
              border-radius: 2px;
            }
          }
        }

        .authors {
          .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px 32px;

            a {
              display: flex;
              align-items: center;
              gap: 8px;

              .img {
                height:auto;
                width:100%;
              }

              &:hover {
                .img {
                  transform: scale(1.05);
                  object-fit: cover;
                }
              }
            }

            .imageWrapper {
              overflow: hidden;
              width: 96px;
              height: 96px;

              .personBorder {
                display: block;
                transition: transform .3s;
                .img {
                  height:auto;
                  width:100%;
                }
              }
            }

            p {
              font-size: clamp(calc(16rem/16), calc(20vw/7.68), calc(20rem/16));
            }
          }
        }
      }

      &.blog .navList2,
      &.academy .navList2 {
        .categories a {
          transition: background-color .3s;

          &:hover {
            background-color: var(--neutral-800);
          }
        }
      }

      &.team .navList2,
      &.blog .navList2,
      &.academy .navList2 {
        .person {
          display:grid;
          p,
          span {
            transition: opacity .3s;
          }

          .personBorder {
            overflow: hidden;
            width:96px;
            height:96px;
            justify-self: center;

            .img {
              display: block;
              object-fit: cover;
              transition: transform .3s;
              width:96px;
              height:96px;
            }
          }

          &:hover {
            .personBorder {
              img {
                transform: scale(1.05);
              }
            }

            p,
            span {
              opacity: .7;
            }
          }
        }
      }
    }
  }

  .navList2 {
    z-index: 1;
    transform: translateY(-8px);
    visibility: hidden;
    transition: transform .5s var(--easing);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: calc(100vh - var(--nav-height) * 2);
    overflow-y: auto;
    border-bottom: 1px solid var(--neutral-800);
    background-color: var(--neutral-950);

    >.maxWidth {
      padding: 32px 0 96px;
    }

    .navList2Subpage {
      text-align: center;
      font-size: clamp(calc(20rem/16), calc(32vw/7.68), calc(30rem/16));
      margin-bottom: 32px;

      a {
        transition: opacity .3s;

        &:hover {
          opacity: .7;
        }
      }
    }

    h3 {
      font-size: clamp(calc(20rem/16), calc(32vw/7.68), calc(30rem/16));
      margin-bottom: 20px;
    }
  }

  .navToggle {
    padding: 21.5px 10.5px;
    margin-right: -10.5px;
    cursor: pointer;
    display: none;
    grid-template-columns: 1fr;
    gap: 8px;
    order: 2;

    span {
      display: block;
      width: 34px;
      height: 2px;
      background-color: var(--neutral-200);
      border-radius: 2px;
      transition: transform .3s;
    }
  }

  +.overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
  }

  .backBtn {
    display: none;
    margin: 0 calc(var(--pageMargin) * -1);
    width: calc(100% + var(--pageMargin) * 2);
    align-items: center;
    font-size: calc(20/16)*1rem;
    gap: 4px;
    padding-bottom: 12px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--neutral-800);
    background-color: var(--neutral-950);
    position: sticky;
    top: 0;
    z-index: 4;

    svg {
      width: 48px;
      height: 48px;

      path {
        stroke-width: 1;
      }

      margin-left: var(--pageMargin);
    }

    span {
      margin: 0 auto;
      padding-right: var(--pageMargin);
    }
  }

  &[data-tab],
  &[aria-expanded="true"] {
    .navToggle {
      span {
        &:nth-child(1) {
          transform: translateY(5px) rotate(-45deg);
        }

        &:nth-child(2) {
          transform: translateY(-5px) rotate(45deg);
        }
      }
    }

    +.overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &[data-tab="services"] .services .navList2,
  &[data-tab="caseStudies"] .caseStudies .navList2,
  &[data-tab="team"] .team .navList2,
  &[data-tab="blog"] .blog .navList2,
  &[data-tab="academy"] .academy .navList2 {
    transform: translateX(0);
    visibility: visible;
  }

  @media (min-width: 1150px) {
    .navList .navListItem{
      &.blog .navList2 .authors .wrapper .imageWrapper {
      width:48px;
      height:48px;
    }
    &.academy .navList2 .authors .wrapper .imageWrapper {
      width:48px;
      height:48px;
    }
    }


    &[data-tab="services"] .navListItem.services,
    &[data-tab="caseStudies"] .navListItem.caseStudies,
    &[data-tab="team"] .navListItem.team,
    &[data-tab="blog"] .navListItem.blog,
    &[data-tab="academy"] .navListItem.academy {
      >button {
        span {
          background-image: var(--gradient);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 1 !important;
        }

        svg {
          stroke: url(#ChevronDown);
          transform: rotateX(180deg);
        }
      }
    }
  }

  @media (max-width: 1149px) {
    .navToggle {
      display: grid;
    }

    &[aria-expanded="true"] .navList {
      transform: translateX(0);
      visibility: visible;
    }

    .navList {
      width: 100%;
      position: absolute;
      right: 0;
      top: var(--nav-height);
      height: calc(100vh - var(--nav-height) * 2);
      background-color: var(--neutral-950);
      border-bottom: 1px solid var(--neutral-800);
      box-sizing: content-box;
      overflow-x: hidden;
      transition: transform .5s var(--easing);
      transform: translateY(-13px);
      visibility: hidden;

      &>ul {
        margin: 40px var(--pageMargin) 0;
        flex-direction: column;
        gap: 24px;
      }

      .navCtaMobile a {
        font-size: calc(20/16) *1rem;
      }

      .navListItem {
        >button {
          font-size: calc(20/16) *1rem;
          padding: 0;

          svg {
            transform: rotate(-90deg);
            width: 32px;
            height: 32px;

            path {
              stroke-width: 1;
            }
          }
        }

        &.services .navList2 {
          .maxWidth {
            display: block;

            >li:not(:first-child) {
              margin-top: 32px;
            }
          }
        }

        &.caseStudies .navList2 {
          .wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 16px;

            a {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 1rem;
              text-align: left;
              font-size: calc(20/16) *1rem;

              p {
                margin-top: 0;
              }
            }
          }
        }

        &.team .navList2 {
          .wrapper {
            max-width: unset;
            justify-content: start;
            gap: 16px;
            font-size: 0px;

            a {
              width: calc(50% - 8px);
            }

            .personBorder {
              display: inline-block;
              overflow: hidden;

              .img {
                display: block;
                object-fit: cover;
                width:100%;
                height:auto;
              }
            }
          }
        }

        &.blog .navList2 {
          .maxWidth {
            grid-template-columns: 1fr;
          }

          .categories {
            .wrapper {
              grid-template-columns: 1fr;
            }
          }

          .authors {
            .wrapper {
              gap: 16px;

              a {
                flex-direction: column;
                gap: 8px;
              }

              .personBorder {
                .img {
                  width: 96px;
                  height: 96px;
                }
              }
            }
          }
        }

        &.academy .navList2 {
          .maxWidth {
            grid-template-columns: 1fr;
          }

          .curiosities {
            .link {
              grid-template-columns: 128px 1fr;

              .img {
                max-width: 188px;
              }
            }
          }

          .categories {
            .wrapper {
              grid-template-columns: 1fr;
            }
          }

          .authors {
            .wrapper {
              gap: 16px;

              a {
                flex-direction: column;
                gap: 8px;
              }

              .personBorder {
                .img {
                  width: 96px;
                  height: 96px;
                }
              }
            }
          }
        }
      }
    }

    .navList2 {
      top: 0;
      border-bottom: none;
      transform: translateX(-13px);
      max-height: 100%;

      >.maxWidth {
        padding: 32px 0 96px;
      }

      .navList2Subpage {
        text-align: left;
      }
    }

    .backBtn {
      display: flex;
    }
  }

  @media (max-width: 549px) {
    .navCta {
      display: none;
    }

    .navCtaMobile {
      display: block;
    }
  }
}