.form {
  display: grid;
  gap: 32px;
  

  &.relative {
    position: relative;
  }

  .checkbox {
    background: var(--neutral-950);
  }

  label:nth-child(2n) {
    padding: unset;
  }

  label:first-child {
    max-width: calc(500rem/16);
  }

}

@media(min-width:1330px) {
  .form {
    button {
      max-width: calc(500rem/16);
    }
  }
}

.overlay {
  position: absolute;
  border-radius: 4px;
  padding: 32px;
  display: grid;
  min-height: 350px;
  width: auto;

  &.success {
    border: 1px solid var(--primary-400);
    background: linear-gradient(266deg, #0B0F0D 1.76%, #011310 53.44%, #001F1B 100%);
  }

  &.failed {
    background: linear-gradient(266deg, #0F0B0B 1.76%, #130501 53.44%, #290005 100%);
    border: 1px solid var(--error-400);
  }

  .grid {
    margin: auto;
    display: grid;
    gap: 8px;
    height: fit-content;
    align-items: start;
    justify-items: start;

    .header {
      display: grid;
      column-gap: 16px;
      grid-template-columns: auto 1fr;

      h2 {
        font-size: 26px;
      }
    }

    p {
      font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
      margin-bottom: 8px;
    }
  }
  @media (max-width: 699px) {
    width:100%;
  }
}