.section {
  header {
    display: grid;
    grid-template-columns: auto auto;

    .copy {
      max-width: calc(740/16)*1rem;

      h1 {
        margin-bottom: clamp(28px, calc(40vw/7.68), 72px);
      }
    }

    .spanWrapper {
      padding-top: 48px;
      font-weight: 400;
      font-size: clamp(calc(18rem/16), calc(28vw/7.68), calc(30rem/16));
      flex-direction: row-reverse;
      display: inline-flex;
      align-self: stretch;
    }

    @media(min-width: 1068px) {
      .span {
        text-align: end;
        max-width:450px;
      }
    }
  }

  @media(max-width: 1068px) {
    header {
      grid-template-columns: 1fr;
    }

    .spanWrapper {
      width: fit-content;
      margin-top: -54px;
    }

    span {
      text-align: start;
    }
  }
}

.imageWrapper {
  @media(max-width:1068px) {
    margin-top: 48px;
  }

  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}