.skipToMainContent {
  background-color: rgba(1,1,4,.8);
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 13px;
  top: 13px;
  padding: 8px 13px;
  z-index: 10;
  &:focus-visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
  height: 80px;
  padding: 16px 0;
  > div {
    display: flex;
    align-items: center;
  }
  &[data-tab],
  &[aria-expanded='true'] {
    &::before {
      background-color: rgba(1,1,4,.95);
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    backdrop-filter: blur(10px);
    background-color: rgba(1,1,4,.8);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-left: clamp(48px, calc(64vw/7.68), 72px);
    &:has(.navItem > button:hover){
      .navItem > button:not(:hover){
        opacity: .62;
      }
    }
    .navItem {
      > button {
        display: flex;
        gap: 4px;
        align-items: center;
        transition: opacity .5s var(--easing);
        &:hover {
          svg {
            transform: scaleY(1.2);
          }
        }
        svg {
          stroke: currentColor;
          transition: transform .3s var(--easing);
        }
      }
      .back-btn, .tab-title {
        display: none;
      }
      .expand {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        max-height: calc(100vh - 80px * 2);
        overflow-y: auto;
        overscroll-behavior: contain;
        border-bottom: 1px solid var(--neutral-700);
        background-color: rgba(1,1,4,.95);
        backdrop-filter: blur(10px);
        padding: 64px var(--pageMargin);
        z-index: 1;
        @media (min-width: 1360px){
          padding-left: calc((100% - 1280px) / 2);
          padding-right: calc((100% - 1280px) / 2);
        }
        transform: translateY(-8px);
        visibility: hidden;
        transition: transform .5s var(--easing);
      }
      &.services {
        &:has(a[data-hover='1']:hover) .thumbnail img:nth-child(1),
        &:has(a[data-hover='2']:hover) .thumbnail img:nth-child(2),
        &:has(a[data-hover='3']:hover) .thumbnail img:nth-child(3),
        &:has(a[data-hover='4']:hover) .thumbnail img:nth-child(4),
        &:has(a[data-hover='5']:hover) .thumbnail img:nth-child(5),
        &:has(a[data-hover='6']:hover) .thumbnail img:nth-child(6),
        &:has(a[data-hover='7']:hover) .thumbnail img:nth-child(7),
        &:has(a[data-hover='8']:hover) .thumbnail img:nth-child(8),
        &:has(a[data-hover='9']:hover) .thumbnail img:nth-child(9),
        &:has(a[data-hover='10']:hover) .thumbnail img:nth-child(10),
        &:has(a[data-hover='11']:hover) .thumbnail img:nth-child(11),
        &:has(a[data-hover='12']:hover) .thumbnail img:nth-child(12),
        &:has(a[data-hover='13']:hover) .thumbnail img:nth-child(13),
        &:has(a[data-hover='14']:hover) .thumbnail img:nth-child(14) {
          opacity: 1;
        }
        .expand {
          display: grid;
          grid-template-columns: 1fr 1.2fr;
          gap: clamp(64px, calc(72vw/7.68), 144px);
          .thumbnail {
            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              &:not(:first-child) {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
              }
            }
          }
          .linksColumn {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
            a {
              margin: 0;
            }
          }
        }
      }
      &.portfolio {
        &:has(a[data-hover='1']:hover) .thumbnail img:nth-child(1),
        &:has(a[data-hover='2']:hover) .thumbnail img:nth-child(2),
        &:has(a[data-hover='3']:hover) .thumbnail img:nth-child(3),
        &:has(a[data-hover='4']:hover) .thumbnail img:nth-child(4),
        &:has(a[data-hover='5']:hover) .thumbnail img:nth-child(5),
        &:has(a[data-hover='6']:hover) .thumbnail img:nth-child(6),
        &:has(a[data-hover='7']:hover) .thumbnail img:nth-child(7),
        &:has(a[data-hover='8']:hover) .thumbnail img:nth-child(8) {
          opacity: 1;
        }
        .expand {
          display: grid;
          grid-template-columns: 1fr 1.2fr;
          align-items: flex-start;
          gap: clamp(64px, calc(72vw/7.68), 144px);
          .thumbnail {
            position: relative;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              &:not(:first-child) {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
              }
            }
          }
          .links {
            > div {
              margin: 16px 0 -12px 0;
              padding-top: 36px;
              border-top: 1px solid var(--neutral-700);
              display: grid;
              grid-template-columns: 1fr 1fr;
              align-items: flex-start;
              column-gap: 32px;
              a {
                margin: 0;
                padding: 12px 0;
              }
            }
          }
        }
      }
      &.team {
        .expand {
          .wrapper {
            max-width: calc(8 * (78px + 32px) - 32px);
            margin: 0 auto;
            text-align: center;
            ul {
              border-top: 1px solid var(--neutral-700);
              padding-top: 24px;
              margin-top: 24px;
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              gap: 32px;
              li {
                list-style-type: none;
                flex-shrink: 0;
                width: 78px;
                a {
                  display: block;
                  transition: opacity .5s var(--easing);
                }
                p {
                  overflow: hidden;
                  text-overflow: elipsis;
                }
              }
              &:has(a:hover){
                a:not(:hover){
                  opacity: .62;
                }
              }
            }
          }
        }
      }
      &.academy {
        .expand {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: clamp(64px, calc(72vw/7.68), 144px);
          .block {
            > div {
              padding-top: clamp(20px, calc(20vw/7.68), 32px);
              margin-top: clamp(24px, calc(24vw/7.68), 32px);
              border-top: 1px solid var(--neutral-700);
            }
          }
          .blog {
            .item {
              display: block;
              border-radius: 4px;
              border: 1px solid var(--neutral-700);
              overflow: hidden;
              p {
                margin-top: 8px;
                padding: 16px;
              }
              .img {
                overflow: hidden;
                img {
                  transition: transform .5s var(--easing);
                  display: block;
                }
              }
              &:hover {
                img {
                  transform: scale(1.03);
                }
              }
            }
          }
          .curiosities {
            .item {
              display: block;
              &:not(:last-child){
                margin-bottom: 12px;
              }
              border-radius: 4px;
              border: 1px solid var(--neutral-700);
              overflow: hidden;
              display: grid;
              grid-template-columns: clamp(70px, calc(70vw/7.68), 112px) 1fr;
              align-items: center;
              gap: 8px;
              .img {
                overflow: hidden;
                img {
                  width: 100%;
                  object-fit: cover;
                  display: block;
                  transition: transform .5s var(--easing);
                }
              }
              p {
                font-size: 14px;
                margin: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              &:hover {
                img {
                  transform: scale(1.03);
                }
              }
            }
          }
        }
      }
    }
    .heading {
      font-size: calc(18rem/16) !important;
      &:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
  &[data-tab],
  &[aria-expanded='true'] {
    .nav-toggle {
      span {
        &:nth-child(1) {
          transform: translateY(5px) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateY(-5px) rotate(45deg);
        }
      }
    }
    .overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &[data-tab='services'] .navItem.services,
  &[data-tab='portfolio'] .navItem.portfolio,
  &[data-tab='team'] .navItem.team,
  &[data-tab='academy'] .navItem.academy {
    > button {
      opacity: 1 !important;
      span {
        background-image: var(--gradient);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      svg {
        stroke: url(#ChevronDown);
        @media (min-width: 1080px){
          transform: rotateX(180deg);
        }
      }
    }
    .expand {
      transform: translateY(0);
      visibility: visible;
    }
  }
  .nav-toggle {
    padding: 21.5px 10.5px;
    margin-right: -10.5px;
    cursor: pointer;
    display: none;
    grid-template-columns: 1fr;
    z-index: 3;
    gap: 8px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    span {
      display: block;
      width: 34px;
      height: 2px;
      background-color: var(--neutral-200);
      border-radius: 2px;
      transition: transform 0.3s;
    }
  }
  .nav-cta {
    @media (min-width: 1080px){
      margin-left: auto;
    }
    @media (max-width: 549px){
      display: none;
    }
  }
  @media (max-width: 1079px){
    > div {
      justify-content: space-between;
    }
    nav {
      position: absolute;
      visibility: hidden;
      transform: translateX(100%);
      transition: transform .5s var(--easing), visibility .5s;
      z-index: 2;
      border-left: 1px solid var(--neutral-700);
      right: 0;
      top: 0;
      width: 82%;
      max-width: 372px;
      height: 100vh;
      align-items: unset;
      padding: 96px clamp(32px, calc(78vw/7.68), 78px);
      flex-direction: column;
      gap: 40px;
      margin-left: unset;
      background-color: rgba(1,1,4,.95);
      backdrop-filter: blur(10px);
      .navItem {
        > button {
          width: 100%;
          font-size: calc(18rem/16);
          gap: 12px;
          &:hover {
            svg {
              transform: rotate(-90deg) scaleY(1.2);
            }
          }
          svg {
            transform: rotate(-90deg);
          }
        }
        .back-btn {
          position: sticky;
          z-index: 1;
          top: -76px;
          background-color: rgba(1,1,4,.8);
          backdrop-filter: blur(4px);
          border-radius: 32px;
          padding: 8px 16px;
          margin: -8px -16px;
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          gap: 14px;
          margin-bottom: 40px;
        }
        .tab-title {
          display: block;
          width: 100%;
          text-align: center;
          padding-bottom: 12px;
          border-bottom: 1px solid var(--neutral-700);
          margin-bottom: 32px;
        }
        .expand {
          top: 0;
          width: 100%;
          height: 100%;
          max-height: unset;
          border-bottom: unset;
          background-color: rgba(1,1,4,1);
          backdrop-filter: unset;
          padding: 96px clamp(16px, calc(32vw/7.68), 39px) 96px clamp(32px, calc(64vw/7.68), 78px);
          transform: translateX(8px);
        }
        &.services {
          .expand {
            display: block;
            .thumbnail {
              display: none;
            }
            .linksColumn {
              grid-template-columns: 1fr;
              gap: 24px;
              a {
                &:not(:last-child){
                  margin-bottom: 12px;
                  padding-bottom: 0;
                }
                &.heading {
                  &:not(:first-child){
                    margin-top: 24px;
                    padding-top: 0;
                  }
                }
              }
            }
          }
        }
        &.portfolio {
          .expand {
            display: block;
            .thumbnail {
              display: none;
            }
            .links {
              display: grid;
              > a {
                justify-self: flex-start;
              }
              > div {
                order: -1;
                padding-top: unset;
                border-top: unset;
                grid-template-columns: 1fr;
                gap: 24px;
                border-bottom: 1px solid var(--neutral-700);
                margin: 0 0 24px 0;
                padding-bottom: 48px;
                a {
                  padding: 0;
                }
              }
            }
          }
        }
        &.team {
          .expand {
            .wrapper {
              display: grid;
              > a {
                justify-self: flex-start;
              }
              ul {
                order: -1;
                border-top: unset;
                padding-top: unset;
                margin-top: unset;
                flex-direction: column;
                justify-content: center;
                gap: 16px;
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid var(--neutral-700);
                li {
                  width: 100%;
                  a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    img {
                      width: clamp(48px, calc(48vw/7.68), 78px);
                    }
                  }
                }
              }
            }
          }
        }
        &.academy {
          .expand {
            display: block;
            .block {
              &:not(:last-child) {
                margin-bottom: 32px;
              }
            }
          }
        }
      }
    }
    .nav-toggle {
      display: grid;
    }
    &[aria-expanded='true'] {
      nav {
        transform: translateX(0);
        visibility: visible;
        transition: transform .5s var(--easing);
      }
    }
  }
}

.decorationLink {
  display: flex;
  gap: 4px;
  align-items: center;
  overflow: hidden;
  svg {
    flex-shrink: 0;
    transition: transform .45s 0s var(--easing);
    transform: translateX(-100%);
  }
  span {
    transition: transform .45s .05s var(--easing);
    transform: translateX(-20px);
  }
  &:hover {
    svg {
      transform: translateX(0);
      transition-delay: .05s;
    }
    span {
      transform: translateX(0);
      transition-delay: 0s;
    }
  }  
  &:not(:last-child){
    margin: 0;
    padding-bottom: 12px;
  }
  &.heading {
    &:not(:first-child){
      padding-top: 24px;
    }
  }
}

.overlay {
  z-index: 1;
  @media (min-width: 1080px){
    z-index: -2;
  }
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: opacity .5s var(--easing);
  pointer-events: none;
}