.section{
 text-align: center;
  font-size: clamp(calc(16rem/16), calc(22vw/7.68), calc(22rem/16));
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 48px;
    .item {
      width: calc(100% / 3 - 32px);
      @media (max-width: 899px){
        width: calc(100% / 2 - 24px);
      }
      .img {
        border-radius: 2px;
        width:56px;
        height: 56px;
        object-fit: contain;
      }
      p {
        margin-top: 10px;
      }
    }
  }
}