footer.footer {
  height: auto;
  margin-top: clamp(64px, calc(96vw / 7.68), 172px);
  padding-bottom: clamp(64px, calc(80vw/7.68), 80px);
  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 32px;
  }
  .team {
    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
      a {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
        align-items: center;
        transition: opacity .5s var(--easing);
        &:hover {
          opacity: .62;
        }
      }
    }
  }
  .projects {
    ul {
      list-style-type: none;
      display: grid;
      gap: 12px;
      a {
        transition: opacity .5s var(--easing);
        &:hover {
          opacity: .62;
        }
      }
    }
  }
  .services {
    grid-column: 3/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: clamp(16px, calc(24vw/7.68), 32px);
    a {
      &[data-desktop='false'] {
        display: none;
      }
      display: block;
      font-size: clamp(calc(14rem/16), calc(16vw/7.68), calc(16rem/16));
      &:not(:last-child){
        margin-bottom: 12px;
      }
      transition: opacity .5s var(--easing);
      &:hover {
        opacity: .62;
      }
    }
  }
  .knowledge {
    a {
      display: block;
    }
  }
  .heading {
    font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16)) !important;
    &:not(:last-child){
      margin-bottom: 16px;
    }
    display: block;
    width: fit-content;
  }
  a.heading {
    transition: opacity .5s var(--easing);
    &:hover {
      opacity: .62;
    }  
  }
  
  .contact {
    > *:not(:last-child){
      margin-bottom: 8px;
    }
    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      align-items: center;
    }
    .contactPerson {
      display: grid;
      width: fit-content;
      grid-template-columns: auto 1fr;
      gap: 12px;
      align-items: center;
    }
  }

  .map {
    grid-column: 3/5;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
    .sketch {
      position: relative;
      width: fit-content;
      svg {
        width: 100%;
        height: auto;
      }
      .cities {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        button {
          position: absolute;
          transform: translate(-50%, -50%);
          cursor: pointer;
          &::before {
            content: '';
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -75%);
            border-radius: 50%;
            background: linear-gradient(var(--neutral-900), var(--neutral-900)) padding-box, var(--gradient) border-box;
            border: 1px solid transparent;
          }
          font-size: clamp(14px, calc(16vw/7.68), 16px);
          padding: 4px 12px;
          border-radius: 4px;
          background: linear-gradient(var(--neutral-900), var(--neutral-900)) padding-box, var(--gradient) border-box;
          border: 1px solid var(--neutral-700);
          &:hover {
            border: 1px solid transparent;
          }
          &[aria-current='true']{
            background: linear-gradient(#010104cc, #010104cc) padding-box, var(--gradient) border-box;
            border: 1px solid transparent;
            &::before {
              background: linear-gradient(#010104cc, #010104cc) padding-box, var(--gradient) border-box;
            }
          }
        }
      }
    }
    .links {
      .instruction {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
        margin-bottom: 24px;
        svg {
          padding: 7px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid var(--neutral-700);
        }
        span {
          margin-top: 3px;
        }
      }
      a {
        display: block;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        transition: opacity .5s var(--easing);
        &:hover {
          opacity: .62;
        }
      }
    }
  }

  .info {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    margin-top: clamp(32px, calc(32vw/7.68), 48px);
    padding-top: 24px;
    border-top: 1px solid var(--neutral-700);
    .socials {
      display: inline-flex;
      flex-wrap: wrap;
      gap: clamp(8px, calc(8vw/7.68), 12px);
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid var(--neutral-700);
        transition: .5s var(--easing);
        &:hover {
          opacity: .62;
        }
      }
    }
    @media (max-width: 749px){
      grid-template-columns: 1fr auto;
      .copy {
        order: 1;
      }
      .socials {
        grid-row: 1/3;
        grid-column: 2;
        max-width: calc(96px + clamp(8px, calc(8vw/7.68), 12px));
      }
    }
  }

  @media (max-width: 1299px){
    .columns {
      grid-template-columns: 1fr 1fr;
      gap: 64px 24px;
    }
    .services {
      order: -1;
      grid-column: 1/3;
    }
    .map {
      grid-column: 1/3;
    }
  }
  @media (max-width: 699px){
    .columns {
      grid-template-columns: 1fr;
      gap: 32px;
    }
    .services {
      grid-column: unset;
      grid-template-columns: 1fr 1fr;
      a[data-desktop='false'] {
        display: block;
        &[data-first='true']{
          margin-top: 24px;
        }
      }
      > div:last-child {
        display: none;
      }
    }
    .map {
      grid-column: unset;
      grid-template-columns: 1fr;
    }
  }
}