.section {
  .img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  p+p {
    margin-top: clamp(16px, calc(24vw/7.68), 32px);
  }

  p.largeParagraph {
    font-size: clamp(calc(16rem/16), calc(24vw/7.68), calc(30rem/16));
  }

  font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));

  >h2 {
    &:not(:first-child) {
      margin-top: clamp(48px, calc(72vw/7.68), 96px);
    }

    margin-bottom: 32px;
  }

  >h3 {
    &:not(:first-child) {
      margin-top: clamp(48px, calc(72vw/7.68), 96px);
    }

    margin-bottom: 32px;
  }

  >.img {
    border: 1px solid var(--neutral-800);

    &:not(:first-child) {
      margin-top: clamp(32px, calc(48vw/7.68), 64px);
    }

    &+h2 {
      margin-top: 48px;
    }

    &+h3 {
      margin-top: 32px;
    }

    +p {
      margin-top: 32px;
    }
  }

  a {
    text-decoration: underline;
  }

  ul,
  ol {
    list-style-type: none;
    margin: 24px 0;
  }

  ul.portableList,
  ol.portableList {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  ul.portableList {
    li {
      display: grid;
      column-gap: 8px;
      grid-template-columns: 24px 1fr;

      svg {
        margin-top: .1em;
      }
    }
  }

  ol.portableList {
    counter-reset: counter;

    li {
      display: grid;
      column-gap: 16px;
      grid-template-columns: 32px 1fr;
      counter-increment: counter;

      &::before {
        content: counter(counter) ".";
        display: inline-block;
      }

      &:nth-child(-n+10)::before {
        content: "0" counter(counter) ".";
      }
    }
  }
}