.wrapper {
  display: grid;
  grid-template-columns: 0.38fr 1fr;
  grid-template-areas: "decorativeHeading img" "button img";
  border: 1px solid var(--neutral-700, #5B5F67);

  .consultationWrapper {
    .button {
      grid-area: button;
      margin:0px 0px 72px 72px;
    }
    .decorativeHeadingWrapper {
      padding-bottom: 32px;
      grid-area: decorativeHeading;
      margin:72px 0 0 72px;
    }
  }

  .imgWrapper {
    position:relative;
    grid-area:img;
    overflow:hidden;
    .img {
      position: absolute;
      object-fit: contain;
      width:100%;
      height:auto;
    }
  }
  @media(max-width:1200px) {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "decorativeHeading"  "button" ;
    border: 0px;
    margin-top:unset;
    .consultationWrapper {
      z-index:1;
      border: 1px solid var(--neutral-700, #5B5F67);
      background-color: var(--neutral-950);
      .decorativeHeadingWrapper {
        max-width:407px;
      }
    }
    .imgWrapper {
      height:auto;
      width:auto;
      margin-top:0px;
      margin-bottom:-20px;
      .img {
        position:relative;
        max-width:unset;
      }
    }
  }
  @media(max-width: 500px) {
    .consultationWrapper {
      padding: 24px 16px;
      .button {
        margin:unset;
      }
      .decorativeHeadingWrapper {
        padding-bottom:40px;
        margin:unset;
      }
    }
  }
}