.header {
  display: grid;
  grid-row-gap: 24px;
  max-width: 714px;
  align-items: center;
  justify-self: center;
  text-align: center;

  .decorativeHeading {
    font-size: clamp(calc(22rem/16), calc(26vw/7.68), calc(26rem/16));
    >svg {
      width: 0.86em;
      height: 0.86em;
      margin-top: 0.25em;
      margin-right: 8px;
    }

    span>svg {
      vertical-align: middle;
      width: clamp(calc(100rem/16), calc(216vw/7.68), calc(216rem/16));
    }
  }

  >div {
    text-align: center;
  }
  >a {
    white-space: unset;
    display: grid;
    grid-template-columns: auto min-content;
    >span {
      display:inline-block;
    }
  }
  @media (max-width: 499px) {
    text-align: start;
  }
}