.decorativeHeadingWrapper {
  width:50%;
  padding-bottom:clamp(16px, calc(64vw/7.68), 50px);
}
.contentWrapper {
  display:grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap:clamp(16px, calc(24vw/7.68), 20px);
}
.explanation {
  .paragraph {
    padding-bottom:clamp(16px, calc(32vw/7.68), 40px);
  }
}
@media(max-width:1200px) {
  .contentWrapper {
    grid-template-columns: 0.3fr 0.7fr;
  }
  .decorativeHeadingWrapper {
    width:100%;
  }
}
@media(max-width: 699px) {
  .contentWrapper {
    grid-template-columns: 1fr;
  }
}