.wrapper {
  width: fit-content;
  background-color: var(--neutral-900);
  padding: 20px 20px 34px 20px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 2;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 24px;

    li {
      list-style: none;
      width: 80px;
      height: 32px;

      border-radius: 35px;
      border: 2px solid transparent;
      transition: border-color .3s var(--easing);

      &.active {
        border: 2px solid var(--primary-400);
      }

      button {
        width: 100%;
        height: auto;
        border-radius: 35px;

        &:disabled {
          cursor: not-allowed;
          opacity: .6;
        }
      }
    }
  }

  header {
    display: flex;
    width: fit-content;
    margin: 0 auto 18px auto;
    align-items: center;
    gap: 2px;

    h2 {
      font-size: 1rem;
    }
  }

  footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      font-size: 1rem;
    }

    .anulate {
      color: #EE6470;
    }

    .choseTime {
      transition: color .3s var(--easing);

      &:disabled {
        cursor: not-allowed;
        opacity: .6;
      }
    }
  }
}