.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  h2 {
    margin-bottom: clamp(28px, 48px, 72px);
    max-width: calc(734rem/16);
  }
  .paragraph, .wrapper {
    font-size: clamp(20px, calc(32vw/7.68), 30px);
  }
  .paragraph2 {
    font-size: clamp(16px, 22px, 22px);
    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
  h2, .wrapper {
    grid-column: 3/1;
  }
  .paragraph2 + .wrapper {
    margin-top: clamp(32px, 48px, 64px);
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: clamp(16px, 24px, 32px);
    counter-reset: counter;
    li {
      flex-grow: 1;
      padding: clamp(20px, 32px, 32px);
      border: 1px solid var(--neutral-800);
      counter-increment: counter;
      min-width: 25%;
      &::before {
        content: "/" counter(counter);
        font-size: clamp(16px, 22px, 22px);
        margin-bottom: clamp(16px, 32px, 32px);
        display: block;
      }
      &:nth-child(-n+10)::before {
        content: "/0" counter(counter);
      }
    }
  }
  @media (max-width: 849px){
    grid-template-columns: 1fr;
    h2, .wrapper {
      grid-column: unset;
    }
    .paragraph {
      margin-bottom: 16px;
    }
  }
}