.wrapper {
  display:grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-areas: "heading ." "img description";

  .headingWrapper {
    grid-area: heading;
  }
  .imageWrapper {
    grid-area: img;
    width:100%;
    height:100%;
    object-fit: contain;
    .image {
      width:100%;
      height:100%;
    }
  }
  .descriptionWrapper {
    grid-area: description;
    font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
    p:not(:first-child)>a {
      font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
      margin-top:16px;
    }
    p:not(:first-child):not(:has(a)) {
      margin-top:30px;
    }
  }
  @media(max-width:1200px) {
    grid-template-columns: 1fr;
    grid-template-areas: "heading" "description" "img";
    grid-row-gap: 32px;
  }
  @media(max-width:800px) {
    .imageWrapper {
      padding-left:unset;
      padding-right: unset;
    }
  }
}