.section {
  img {
    height:100%;
    widtH:100%;
    object-fit:cover;
  }
  columns: 2;
  column-gap: 32px;

  @media (max-width: 962px) {
    columns: 1;
  }

  .bigLink {
    margin-top: clamp(48px, calc(96vw/7.68), 96px);
    font-size: clamp(calc(28rem/16), calc(50vw/7.68), calc(48rem/16));
    display: block;
    letter-spacing: -0.24px;
  }

  div,
  a {
    break-inside: avoid;
  }

  .medLink {
    margin-top: 24px;
    font-size: clamp(calc(20rem/16), calc(32vw/7.68), calc(30rem/16));
    display: block;
  }

  ul {
    margin-top: 24px;

    @media (max-width: 420px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    @media (max-width: 349px) {
      grid-template-columns: 1fr;
    }
  }

  .mainImg {
    margin-bottom: 32px;
  }
}

.teamGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  gap: 32px clamp(16px, calc(24vw/7.68), 48px);
  margin-top: 32px;

  .item {
    p {
      text-align: center;
      margin-top: 8px;
      font-size: 1.375rem;
    }
    .img {
      width: 156px;
      height: 156px;
    }
  }
}