.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 80px 32px;

  >p {
    &:nth-of-type(1) {
      font-size: clamp(calc(20/16)*1rem, calc(32/7.68)*1vw, calc(32/16)*1rem);
    }

    &:nth-of-type(2) {
      font-size: clamp(calc(20/16)*1rem, calc(22/7.68) *1vw, calc(30/16)*1rem);
    }
  }

  div {
    font-size: clamp(calc(16/16)*1rem, calc(22/7.68)*1vw, calc(22/16)*1rem);

    p:last-of-type {
      margin-top: 12px;
    }

    em {
      color: var(--neutral-600);
      font-style: normal;
    }

    .cta {
      margin-top: 48px;
    }
  }

  @media (max-width: 1149px) {
    grid-template-columns: 1fr;
    gap: 0;

    h2 {
      margin-bottom: 32px;
    }

    >p {
      &:nth-of-type(1) {
        margin-bottom: 24px;
      }

      &:nth-of-type(2) {
        margin-bottom: 1rem;
      }
    }

    div {
      .cta {
        margin-top: 32px;
      }
    }
  }
}