.section{
  overflow: hidden;
  margin: 0 calc(var(--pageMargin) * -1);
  padding: var(--pageMargin);
  h2 {
    margin-bottom: clamp(28px, calc(48vw/7.68), 72px);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px 32px;
    font-size: clamp(calc(16rem/16), calc(22vw/7.68), calc(22rem/16));
    svg {
      margin-bottom: 12px;
    }
    .item {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        inset: -22px;
        backdrop-filter: blur(4px);
        pointer-events: none;
        transition: opacity .3s;
        opacity: 1;
      }
      &:hover::before,
      &:focus-visible::before {
        opacity: 0;
      }
      &:hover,
      &:focus-visible {
        z-index: 1;
      }
      &:nth-child(1) { transform: rotate(-4deg) }
      &:nth-child(2) { transform: rotate(7deg) }
      &:nth-child(3) { transform: rotate(-3deg) }
      &:nth-child(4) { transform: rotate(8deg) }
      &:nth-child(5) { transform: rotate(-6deg) }
      &:nth-child(6) { transform: rotate(7deg) }
    }
  }
  @media (max-width: 999px){
    .wrapper {
      grid-template-columns: 1fr;
      gap: 48px;
      .item {
        max-width: 500px;
        &:nth-child(even) {
          margin-left: auto;
        }
        &:nth-child(1) { transform: rotate(-8deg) }
        &:nth-child(2) { transform: rotate(7deg) }
        &:nth-child(3) { transform: rotate(8deg) }
        &:nth-child(4) { transform: rotate(-6deg) }
        &:nth-child(5) { transform: rotate(6deg) }
        &:nth-child(6) { transform: rotate(-3deg) }
      }
    }
  }
  .noMouseText {
    margin-bottom: clamp(28px, calc(48vw/7.68), 48px);
    display: flex;
    align-items: center;
    gap: 8px;
  }
  @media (pointer: fine) {
    .noMouseText {
      display: none;
    }
  }
}