.wrapper {
  display: grid;
  row-gap: clamp(32px, calc(48vw/7.68), 48px);

  header {
    max-width: calc(846rem/16);
  }

  h3 {
    font-size: clamp(calc(22rem/16), calc(26vw/7.68), calc(26rem/16));
    text-align: left;
  }

  .caseStudies {
    display: grid;
    gap: clamp(16px, calc(24vw/7.68), 31px);
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .caseStudy {
      display: grid;
      grid-template-rows: 1fr 50px;
    }
    .imageWrapper {
      overflow: hidden;
      border: 1px solid var(--neutral-700-new);
      border-radius: 4px;
      width: 100%;
      height: auto;

      .img {
        width: 100%;
        display: block;
        height: auto;
        object-fit: cover;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .buttonWrapper {
      display: grid;
      align-items: center;
      justify-items: center;
      padding: 12px 8px;
      border-radius: 4px;
      border: 1px solid var(--neutral-700-new);
      .button {
        white-space: unset;
      }
    }

    .imageDescription {
      padding: 12px 8px;
      font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
    }
    @media (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
      .caseStudy {
        grid-template-rows: 1fr minmax(50px, auto);
        .imageWrapper {
          align-self: flex-start;
        }
      }
    }
  }

}