.headingImageText {
  border-bottom: 1px solid var(--neutral-700, #5B5F67);
  padding-bottom: 40px;
  grid-column-gap:32px;
  padding-top: 80px;
}
.headingWrapper {
  margin-bottom: 48px;
}
@media(max-width:1200px) {
  .imageWrapper {
    padding: 0px 58px 20px 58px;
    margin-top:-2px;
  }

  .headingImageText {
    padding-top:48px;
    .headingWrapper {
      margin-bottom: -8px;
    }
  }
}