.section{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
  h2 {
    align-self: center;
    max-width: 500px;
    font-size: clamp(calc(20rem/16), calc(28vw/7.68), calc(28rem/16));
  }
  .swiper-slide {
    transition: transform .5s var(--easing);
  }
  .swiper-slide:not(.swiper-slide-active) {
    transform: scale(.95);
  }
  .slider {
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 34px;
      height: 100%;
      pointer-events: none;
      z-index: 2;
      background: linear-gradient(90deg, var(--neutral-950), rgba(0,0,0,0));
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
      transform: rotate(180deg);
    }
    padding: 0 21px;
    min-width: 0;
    margin-right: calc(var(--pageMargin) * -1);
    width: calc(100% + var(--pageMargin));
    .slide {
      padding: clamp(24px, calc(40vw/7.68), 48px) clamp(16px, calc(24vw/7.68), 28px); 
      border: 1px solid var(--neutral-700);
      font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
      > div {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: clamp(4px, calc(12vw/7.68), 12px);
        align-items: center;
        margin-bottom: clamp(8px, calc(24vw/7.68), 64px);
      }
      .img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
  }
  .controls {
    grid-column: 3/1;
    margin-left: auto;
    display: grid;
    grid-template-columns: 48px 48px;
    gap: 16px;
    margin-top: -8px;
    button {
      width: 48px;
      height: 48px;
      border: 1px solid var(--neutral-700);
      border-radius: 50%;
      transition: background-color .4s, opacity .4s;
      &[disabled] {
        opacity: .4;
        pointer-events: none;
      }
      &:hover {
        background-color: var(--neutral-900);
      }
      &:active {
        svg {
          transform: scale(.95);
        }
      }
      svg {
        transition: transform .4s var(--easing);
      }
    }
  }
  @media (max-width: 1049px){
    grid-template-columns: 1fr;
    .slider {
      margin-left: calc(var(--pageMargin) * -1);
      width: calc(100% + var(--pageMargin) * 2);
    }
    .controls {
      grid-column: unset;
    }
  }
}