.wrapper {
  font-size: clamp(calc(16rem / 16), calc(18vw / 7.68), calc(18rem / 16));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  gap: 8px;
  svg {
    flex-shrink: 0;
    transition: transform 0.3s;
  }
  &.primary {
    border-radius: 2px;
    padding: 12px 42px;
    @media (max-width: 499px) {
      width: 100%;
      padding: 12px 24px;
    }
    @media (max-width: 349px) {
      padding: 12px 12px;
      font-size: 14px;
    }
    background: linear-gradient(var(--neutral-900), var(--neutral-900)) padding-box, var(--gradient) border-box;
    border: 1px solid transparent;
    span {
      color: var(--primary-400);
      background-image: var(--gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &::before {
      box-shadow: 0px 0px 2px #e1fffa, 0px 0px 5px #6df1dd, 0px 0px 25px rgba(55, 193, 131, 0.75);
    }
    &::after {
      box-shadow: 0px 0px 4px #e1fffa, 0px 0px 15px #6df1dd, 0px 0px 25px rgba(55, 193, 131, 0.75);
    }
    &:hover::before,
    &:active::after {
      opacity: 1;
    }
    &:active::before {
      opacity: 0;
    }
  }
  &.secondary {
    span {
      position: relative;
      &::before,
      &::after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
      }
      &::before {
        filter: drop-shadow(0px 0px 2px #e1fffa) drop-shadow(0px 0px 8px #6df1dd)
          drop-shadow(0px 0px 15px rgba(55, 193, 131, 0.5));
      }
      &::after {
        filter: drop-shadow(0px 0px 2px #ffffff) drop-shadow(0px 0px 6px #e1fffa) drop-shadow(0px 0px 25px #6df1dd)
          drop-shadow(0px 0px 35px rgba(55, 193, 131, 0.75));
        top: 0;
      }
    }
    &:hover span::before,
    &:active span:after {
      opacity: 1;
    }
    &:active span::before {
      opacity: 0;
    }
  }
  &:hover {
    svg {
      transform: translateX(3px);
    }
  }
  &:disabled {
    opacity: 0.62;
    pointer-events: none;
  }
}
