.cooperatioGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 144px;
  align-items: flex-start;

  header {
    display: grid;
    gap: 32px;
    align-items: start;
    align-self: center;

    .heading {
      font-size: clamp(calc(22rem / 16), calc(26vw / 7.68), calc(26rem / 16));
    }

    .description {
      font-size: clamp(calc(16rem / 16), calc(18vw / 7.68), calc(18rem / 16));
    }

    .logoShowcase {
      display: grid;
      grid-template-columns: repeat(3, minmax(170px, 1fr));
      row-gap: 16px;

      .logoWrapper {
        display: grid;
        grid-template-columns: 56px auto;
        gap: 12px;

        .icon {
          border-radius: 50%;
          border: 1px solid var(--neutral-700);
          padding: 8px;
          width: clamp(48px, calc(56vw / 7.68), 56px);
          height: clamp(48px, calc(56vw / 7.68), 56px);
          display: block;
          align-self: center;
          justify-content: center;
        }

        .iconDescription {
          align-self: center;
          font-size: clamp(calc(14rem / 16), calc(16vw / 7.68), calc(16rem / 16));
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 1/1;

    .item {
      border: 1px solid var(--neutral-700);
      border-radius: 4px;
      display: grid;
      position: relative;

      .img {
        height: auto;
        width: 70%;
        object-fit: contain;
        display: block;
        padding-left: 16px;
        padding-top: 22px;
        padding-right: 22px;
      }

      .description {
        align-self: end;
        padding: 0px 28px 20px 28px;
      }

      &:nth-child(n) {
        margin-right: -1px;
      }

      &:nth-child(n + 2) {
        margin-top: -1px;
      }

      &:first-child {
        margin-top: -1px;
      }
    }
  }

  @media (max-width: 1349px) {
    grid-template-columns: 1fr;
    margin-left: unset;
    margin-right: unset;
    gap: 32px;

    .grid {
      width: 100%;
      height: 520px;

      .item {
        .img {
          width: 100%;
          max-width: 250px;
        }
      }
    }

    header {
      > .description {
        width: 75%;
        justify-self: end;
      }
    }
  }

  @media (max-width: 599px) {
    .grid {
      grid-template-columns: 1fr;
      height: auto;
      align-items: flex-start;

      .item {
        row-gap: 132px;
      }
    }

    header {
      .description {
        width: 100%;
        justify-self: start;
      }

      .logoShowcase {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
