.section {
  h2 {
    margin: 0 auto clamp(32px, calc(64/7.68)*1vw, 96px);
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(40px, calc(54/7.68)*1vw, 64px) 32px;
    max-width: 1066px;
    margin: 0 auto;
    counter-reset: counter;
    .item {
      counter-increment: counter;
      position: relative;
      .img {
        opacity: 0;
        z-index: 2;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 100%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s, opacity 0.3s;
        transition-timing-function: var(--easing);
        object-fit: cover;
        display:block;
      }
      &:hover {
        .img {
          opacity: 1;
          transform: rotate(13deg);
        }
        h3 svg {
          transform: translate(3px, -3px);
        }
      }
      &:nth-child(even):hover {
        .img {
          transform: rotate(-13deg);
        }
      }
      h3 {
        display: grid;
        grid-template-columns: clamp(40px, calc(72/7.68)*1vw, 72px) auto 1fr;
        gap: clamp(8px, calc(16/7.68)*1vw, 16px);
        font-size: clamp(calc(20/16)*1rem, calc(32/7.68)*1vw, calc(30/16)*1rem);
        margin-bottom: clamp(8px, calc(16/7.68)*1vw, 32px);
        &::before {
          content: "/0" counter(counter);
        }
        svg {
          align-self: center;
          transition: transform 0.3s;
        }
      }
      p {
        font-size: clamp(calc(16/16)*1rem, calc(22/7.68)*1vw, calc(22/16)*1rem);
      }
    }
  }
  @media (max-width: 999px) {
    .wrapper {
      grid-template-columns: 1fr;
    }
  }
}