.header {
  display:grid;
  grid-row-gap: 24px;
  align-items: center;
  max-width:714px;
  justify-self: center;
  .subheading {
    text-align:center;
  }
  @media(max-width:800px) {
    align-items: start;
    justify-self:start;
    .subheading {
      text-align: start;
    }
  }
}