.label {
  padding: 16px clamp(8px, calc(16vw/7.68), 20px);
  background: var(--neutral-900);
  border: 1px solid var(--neutral-800);
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  position: relative;
  align-items: center;
  transition: border-color .3s var(--easing);
  cursor: pointer;

  &.errored {
    border-color: #EE6470;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  input:focus~& {
    background: linear-gradient(var(--neutral-900), var(--neutral-900)) padding-box,
    var(--gradient) border-box;
    border: 1px solid transparent;
    border-radius: 2px;
  }

  input:checked~.radio::after {
    transform: translate(-50%, -50%) scale(1);
  }

  .radio {
    width: clamp(24px, calc(24vw/7.68), 34px);
    height: clamp(24px, calc(24vw/7.68), 34px);
    border: 2px solid #EFF0F3;
    border-radius: 50%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 62%;
      height: 62%;
      border-radius: 50%;
      background: #EFF0F3;
      transition: transform .3s var(--easing);
    }
  }
}