.section {
  h2 {
    font-size: clamp(calc(18rem/16), calc(28vw/7.68), calc(28rem/16));
    margin: 0 auto clamp(28px, calc(48vw/7.68), 72px);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    a {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 8px;
      align-items: center;

      .img {
        width: 128px;
        height: 128px;
        object-fit: cover;
        overflow: hidden;
        display: block;

        img {
          transform-origin: bottom;
          transition: transform .5s var(--easing);
        }
      }

      &:hover {
        .img img {
          transform: scale(1.05);
        }
      }

      .info {
        h3 {
          font-size: clamp(calc(18rem/16), calc(18vw/7.68), calc(20rem/16));
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  .copy {
    text-align: center;
    max-width: 633px;
    margin: 0 auto;

    margin-top: clamp(28px, calc(48vw/7.68), 48px);

    p {
      font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));

      &:not(:last-of-type) {
        margin-bottom: clamp(16px, calc(16vw/7.68), 24px);
      }
    }

    a {
      margin-top: clamp(28px, calc(32vw/7.68), 32px);
    }
  }

  @media (max-width: 1189px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 32px 24px;

      a {
        .img {
          width: 128px;
          height: 128px;
        }
      }
    }
  }

  @media (max-width: 699px) {
    .wrapper {
      grid-template-columns: 1fr;
      gap: 28px;
    }

    h2 {
      margin-left: 0;
    }

    .copy {
      text-align: left;
    }
  }
}