.wrapper {
  border: 1px solid var(--neutral-700, #5b5f67);
  background-color: var(--neutral-950);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: clamp(24px, calc(72vw / 7.68), 72px) clamp(16px, calc(72vw / 7.68), 72px);
  @media (max-width: 499px) {
    padding-left: var(--pageMargin);
    padding-right: var(--pageMargin);
  }
  border-radius: 2px;
  h2 {
    font-size: clamp(18px, calc(28vw / 7.68), 28px);
    margin-bottom: 32px;
  }
  position: relative;
  margin-top: 55px;
  .img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: calc(100% + 55px);
    object-fit: contain;
    object-position: bottom;
  }
  @media (max-width: 1199px) {
    grid-template-columns: 1fr;
    gap: unset;
    border: unset;
    padding: unset;
    border-radius: unset;
    margin-top: unset;
    header {
      border: 1px solid var(--neutral-700, #5b5f67);
      background-color: var(--neutral-950);
      padding: clamp(24px, calc(72vw / 7.68), 72px) clamp(16px, calc(72vw / 7.68), 72px);
    }
    .img {
      position: relative;
      bottom: unset;
      max-width: 80%;
      width: 100%;
      max-height: 300px;
      height: 100%;
      order: -1;
      display: block;
      margin: auto;
    }
  }
  @media (max-width: 599px){
    header {
      padding: clamp(24px, calc(72vw / 7.68), 72px) var(--pageMargin);
    }
    margin: 0 calc(var(--pageMargin) * -1);
  }
}