.wrapper {
  width: fit-content;
  background-color: var(--neutral-900);
  padding: 20px 20px 34px 20px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 2;

  header {
    display: flex;
    width: fit-content;
    margin: 0 auto 18px auto;
    align-items: center;
    gap: 2px;

    h2 {
      font-size: 1rem;
    }
  }

  footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      font-size: 1rem;
    }

    .anulate {
      color: #EE6470;
    }

    .choseTime {
      transition: color .3s var(--easing);

      &:disabled {
        cursor: not-allowed;
        opacity: .6;
      }
    }
  }

  ul {
    width: fit-content;

    li {
      list-style: none;
    }
  }

  .grid {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(7, 1fr);

    li {
      width: 40px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;
      border: 2px solid transparent;
      transition: border-color .3s var(--easing);

      &.active {
        border: 2px solid var(--primary-400);
      }

      button {
        color: var(--neutral-200);

        &:disabled {
          opacity: .6;
          cursor: default;
        }
      }
    }

  }
}