.item {
  column-gap: clamp(24px, calc(24px/7.68), 32px);
  row-gap:clamp(24px, calc(24px/7.68), 32px);
  padding: 24px 0px 64px 0px;
  border-bottom: 1px solid var(--neutral-700);

  .iconWrapper {
    border-radius: 50%;
    border: 1px solid var(--neutral-700);
    width: 72px;
    height: 72px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-area: icon;

    .icon {
      width: 32px;
      height: 32px;
    }
  }

  .contentWrapper {
    width: 50px;
    height: 32px;
    display: inline-flex;
    align-items:flex-end;
    grid-area: icon;
  }

  &:first-child {
    .contentWrapper {
      color: var(--primary-400);
      background-image: var(--gradient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
    }
  }



  .title {
    grid-area: title;
    font-size: clamp(calc(18rem/16), calc(28vw/7.68), calc(28rem/16));
  }

  .description {
    grid-area: description;
  }
}

.iconStyles {
  grid-template-areas: "icon title description";
  display: grid;
  grid-template-columns: 0fr 3fr 6fr;
  justify-content: center;
  align-items: center;
}

.headerStyles {
  grid-template-areas: "icon title description";
  display: grid;
  grid-template-columns: 0fr 3fr 6fr;
}
@media(max-width:1200px) {
  .iconStyles {
    grid-template-columns: 0fr 7fr 3fr;
    grid-template-areas: "icon title ." "description description description";
  }
  .headerStyles {
    grid-template-columns: 0fr 7fr 3fr;
    grid-template-areas: "icon title ." ". description description";
  }
}
@media(max-width: 650px) {
    .iconStyles {
      grid-template-areas: "icon title title" "description description description";
    }
    .headerStyles {
      grid-template-areas: "icon . ." "title title title" "description description description";
    }
    .item {
      .contentWrapper {
        height:unset;
        width:unset;
      }
    }
}