.section {
  h2 {
    max-width: calc(686/16) * 1rem;
    margin-bottom: clamp(calc(28/16)*1rem, calc(48/7.68)*1vw, calc(72/16)*1rem);
  }
}
.cta {
    display: flex;
    width: fit-content;
    margin: 32px auto 0;
}