.hero {
  header {
    >div:first-child {
      max-width:calc(684rem/16);
    }
    >img {
      border: unset;
      height: 100%;
      width: unset;
      max-width: 600px;
      max-height: 600px;
      margin: 0 auto;
      justify-self: unset;
      object-fit: contain;
      display:inline-block;
    }
  }
  @media (max-width: 1409px) {
    header {
      grid-template-columns: 1fr;
      >div:first-child {
        max-width: unset;
      }
      >img {
        width: 100%;
      }
    } 
  }
}