.section {
  h2 {
    margin: 0 auto clamp(28px, calc(48/7.68)*1vw, 72px);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    a {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 16px;
      align-items: center;

      .img {
        width: 156px;
        object-fit: cover;
        overflow: hidden;
        display: block;

        img {
          transform-origin: bottom;
          transition: transform .5s var(--easing);
        }
      }

      &:hover {
        .img img {
          transform: scale(1.05);
        }
      }

      .info {
        h3 {
          font-size: clamp(calc(20/16)*1rem, calc(32/7.68)*1vw, calc(30/16)*1rem);
        }

        p {
          font-size: clamp(calc(16/16)*1rem, calc(22/7.68)*1vw, calc(22/16)*1rem);
        }
      }
    }
  }

  .copy {
    text-align: center;
    max-width: 858px;
    margin: 0 auto;

    margin-top: clamp(28px, calc(48/7.68)*1vw, 48px);

    p {
      font-size: clamp(calc(20/16)*1rem, calc(32/7.68)*1vw, calc(30/16)*1rem);

      &:not(:last-of-type) {
        margin-bottom: clamp(16px, calc(32/7.68)*1vw, 32px);
      }
    }

    a {
      margin-top: clamp(28px, calc(48/7.68)*1vw, 48px);
    }
  }

  @media (max-width: 1189px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 32px 24px;

      a {
        .img {
          width: 128px;
          height: 128px;
        }
      }
    }
  }

  @media (max-width: 699px) {
    .wrapper {
      grid-template-columns: 1fr;
      gap: 28px;
    }

    h2 {
      margin-left: 0;
    }

    .copy {
      text-align: left;
    }
  }
}