.section {
  h2 {
    font-size: clamp(calc(18rem / 16), calc(28vw / 7.68), calc(28rem / 16));
    margin-bottom: clamp(32px, calc(48vw / 7.68), 48px);
    max-width: calc(430rem / 16);
  }

  .img {
    margin-bottom: clamp(48px, calc(64vw / 7.68), 96px);
    border: 1px solid var(--neutral-700);
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .wrapper {
    counter-reset: counter 0;

    .item {
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), var(--neutral-950));
        transition: transform 0.6s;
        pointer-events: none;
      }

      &:not(.hide):before {
        transform: translateY(100%);
      }

      border-bottom: 1px solid var(--neutral-800);
      padding: 24px 0 clamp(24px, calc(48vw / 7.68), 64px);

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      display: grid;

      @media (min-width: 850px) {
        grid-template-columns: 1fr 2fr;
      }

      align-items: start;
      gap: clamp(24px, calc(32vw / 7.68), 32px) 32px;
      counter-increment: counter 1;

      h3 {
        font-size: clamp(calc(18rem / 16), calc(22vw / 7.68), calc(22rem / 16));
        display: grid;
        align-items: center;
        row-gap: 16px;

        @media (min-width: 400px) {
          grid-template-columns: 64px 1fr;
        }

        &::before {
          content: "/" counter(counter);
          font-size: clamp(calc(16rem / 16), calc(18vw / 7.68), calc(18rem / 16));
        }
      }

      &:nth-child(-n + 9) h3::before {
        content: "/0" counter(counter);
      }

      .description {
        font-size: clamp(calc(16rem / 16), calc(18vw / 7.68), calc(18rem / 16));

        p:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      @media (max-width: 849px) and (min-width: 400px) {
        .description {
          margin-left: 64px;
        }
      }

      @media (max-width: 399px) {
      }
    }
  }
}
