.wrapper {
  display:grid;
  row-gap: clamp(32px, calc(72vw/7.68), 128px);
  border-bottom: 1px solid var(--neutral-600, #9699A3);
  padding-bottom: 64px;
}
.tiles {
  .title {
    font-size: clamp(calc(16rem/16), calc(18vw/7.68), calc(18rem/16));
  }
  .description {
    font-size: clamp(calc(18rem/16), calc(28vw/7.68), calc(28rem/16));
  }
}